@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 92.5%;
}

body {
  background-color: rgb(245, 201, 235);
  background-repeat: repeat;
  background-attachment: fixed;
}

.encabezado__img--fluid {
  width: 5%;
}

.encabezado__tittle--xl {
  text-align: center;
  color: teal;
  font-family: "Times New Roman", Times, serif;
}

#botonera {
  width: 100%;
  background-color: rgb(223, 174, 194);
}

#botonera ul {
  list-style: none;
  text-decoration: none;
  overflow: hidden;
}

#botonera ul li {
  float: left;
}

#botonera ul li a {
  color: rgb(255, 255, 255);
}

#botonera ul li a:hover {
  color: teal;
}

.principal {
  margin-top: 25px;
}

.comentarios {
  margin-left: 60px;
  margin-right: 60px;
  background-color: teal;
  margin-top: 45px;
  padding: 5px;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.borde_comentarios {
  border-radius: 15px;
}

.comentarios, div, h5, h6, p, a {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.video_contenedor {
  margin-top: 25px;
}

.video_titulo {
  font-size: 2em;
  color: teal;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.fotos_contenedor {
  margin-left: 78px;
  margin-right: 78px;
}

.fotos__titulo {
  margin-top: 20px;
  margin-left: 120px;
  margin-bottom: 30px;
  font-size: 2em;
  color: teal;
  font-family: "Times New Roman", Times, serif;
}

.producto__titulo {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 115px;
  font-size: 2em;
  color: teal;
  font-family: "Times New Roman", Times, serif;
}

.segundo_cuadro {
  margin-top: 20px;
  margin-left: 78px;
  margin-right: 78px;
}

.titulo_bodas {
  font-size: 2em;
  color: teal;
  font-family: "Times New Roman", Times, serif;
  margin-top: 25px;
  text-align: center;
}

.bodas_contenedor {
  margin-top: 25px;
  margin-bottom: 25px;
}

.img-portfolio {
  width: 450px;
  height: 350px;
  border-style: solid;
  border-color: white;
}

.img-portfoliodos {
  width: 300px;
  height: 350px;
  border-style: solid;
  border-color: white;
}

.fotografia_contenedor {
  margin-left: 60px;
  margin-right: 60px;
}

.fotografia_titulo {
  margin-top: 25px;
  margin-left: 60px;
  font-size: 2em;
  color: teal;
  font-family: "Times New Roman", Times, serif;
}

.fotografia_subtitulo {
  margin-left: 60px;
  margin-bottom: 30px;
  color: teal;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6em;
}

.border_texto {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  padding: 25px;
  border-style: solid;
  border-width: 1px;
  background-color: white;
}

.img_cursos {
  width: 250px;
}

.container {
  margin: 50px;
}

.titulo_sobremi {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  color: teal;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}

.texto_descripcion {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  margin-top: 30px;
}

.formulario_contenedor {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
}

.titulo_formulario {
  color: teal;
  font-family: "Times New Roman", Times, serif;
  font-size: 2em;
}

.boton-formulario {
  margin-top: 20px;
  color: whitesmoke;
  background-color: #5f184d;
}

.img_error {
  background-color: #d4faff;
}

@media (max-width: 992px) {
  .img_error img {
    width: 100%;
    text-align: center;
    margin-top: 200px;
  }
}
.footer_tittle {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.1em;
  padding: 10px;
}

.pie {
  text-decoration: none;
  margin-top: 20px;
  background-color: rgb(223, 174, 194);
  text-align: center;
}

.pie_icon--sm {
  width: 45px;
  margin-bottom: 15px;
  text-align: center;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */