@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
 }
 
 html{
   font-size: 92.5%;
}

body{
    background-image: url(../imagenes/background-blue.webp);
    background-repeat: repeat;
    background-attachment: fixed;
}

.encabezado__img--fluid{
   width: 5%;
}

.encabezado__tittle--xl{
   text-align: center;
   color: teal;
   font-family: 'Times New Roman', Times, serif;
}

.comentarios{
   margin-top: 50px;
   margin-bottom: 50px;
}

   #principal .galeria{
      margin-top: auto;
      display: flex;
      justify-content: center;
      background-image: url(../imagenes/background-blue.webp);
   }
   
   #principal .galeria figure{
      text-align: center;
      width: 65%;
   }
   
   #principal .galeria figure img{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
   }
   
   .titulo__oportunidades{
      text-align: center;
      font-size: xx-large;
      color: blue;
   }
   #bodas .beneficio{
      margin:auto;
      display: flex;
      justify-content: space-between;
      background-image: url(../imagenes/background-blue.webp);
   }
   
   #bodas .beneficio figure{
      text-align: center;
      width:100%;
   }
   
   #bodas .beneficio figure img{
      border-left: 10px;
      border-right: 10px;
      width: 100%;
   }
   
   .section-dos .galerias{
      margin: auto;
      display: flex;
      justify-content: space-between;
      background-image: url(../imagenes/background-blue.webp);
   }
   
   .section-dos .galerias figure{
      text-align: center;
      width:25%;
   }
   
   .section-dos .galerias figure img{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
   }

   .section-dos .galerias figcaption{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    align-self: center;
   }

   .section-dos .galerias p.benefit{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: #000000;
    padding-bottom: 10px;
    background-color: white;
    align-self: center;
   }
  
   .section-tres .comentarios{
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35%;
 }
 
 .section-tres .comentarios figure figcaption{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(0, 0, 0);
    padding: 15px 0;
    align-self: center;
    text-align: center;
 }
 
 .section-tres .comentarios iframe.p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: #000000;
    padding-bottom: 10px;
    background-image: url(../imagenes/background-blue.webp);
    align-self: center;
}

.fotos__titulo{
   text-align: right;
   font-size: xx-large;
   color: teal;
   font-family: 'Times New Roman', Times, serif;

}
.fotos .articulo{
   margin: auto;
   display: flex;
   justify-content: space-between;
}
.fotos .articulo figure{
   text-align: center;
   width: 25%;
}
.fotos .articulo figure img{
   width: 100%;
}

.fotos .articulo figure figcaption{
   font-size: large;
   color: black;
}

.producto__titulo{
   text-align: left;
   font-size: xx-large;
   color: teal;
   font-family: 'Times New Roman', Times, serif;
}

.container{
   margin: 50px;
}

.pie{
    margin: 50px;
    text-align: center;
    padding: 6px 20px;
 }
 
 .pie__icon--sm{
    width: 35px;
 }
 
 .pie__titulo--md{
    font-size: 3.5rem;
 }