 .principal{
    margin-top: 25px;
 }
 
 .comentarios{
    margin-left: 60px;
    margin-right: 60px;
    background-color: teal;
    margin-top: 45px;
    padding: 5px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

 .borde_comentarios{
    border-radius: 15px;
 }

 .comentarios, div, h5, h6, p, a{
    text-align: center;
    font-family: $mainFont;
 }

 .video_contenedor{
    margin-top: 25px;
 }
 .video_titulo{
    font-size: $textLg;
    color: teal;
    font-family: $mainFont;
    margin-bottom: 20px;
 }

 .fotos_contenedor{
    margin-left: 78px;
    margin-right: 78px;
 }

.fotos__titulo{
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 30px;
    font-size: $textLg;
    color: teal;
    font-family: $mainFont;
}

.producto__titulo{
    text-align: right;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 115px;
    font-size: $textLg;
    color: teal;
    font-family: $mainFont;
}
.segundo_cuadro{
    margin-top: 20px;
    margin-left: 78px;
    margin-right: 78px;

}

.titulo_bodas{
    font-size: $textLg;
    color: teal;
    font-family: $mainFont;
    margin-top: 25px;
    text-align: center;
}

.bodas_contenedor{
    margin-top: 25px;
    margin-bottom: 25px;
}

.img-portfolio{
    width: 450px;
    height: 350px;
    border-style: solid;
    border-color: white;
}

.img-portfoliodos{
    width: 300px;
    height: 350px;
    border-style: solid;
    border-color: white;
}

.fotografia_contenedor{
    margin-left: 60px;
    margin-right: 60px;
}

.fotografia_titulo{
    margin-top: 25px;
    margin-left: 60px;
    font-size: $textLg;
    color: teal;
    font-family: $mainFont;
}

.fotografia_subtitulo{
    margin-left: 60px;
    margin-bottom: 30px;
    color: teal;
    font-family: $mainFont;
    font-size: $textMd;
}

.border_texto{
    font-family: $mainFont;
    font-size: $textSm;
    padding: 25px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}

.img_cursos{
    width: 250px;
}

.container{
 margin: 50px;
}

.titulo_sobremi{
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: teal;
    font-family: $mainFont;
    font-size: $textLg;
}

.texto_descripcion{
    font-family: $mainFont;
    font-size: $textSm;
    margin-top: 30px;
}

.formulario_contenedor{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 50px;
}
.titulo_formulario{
    color: teal;
    font-family: $mainFont;
    font-size: $textLg;
}

.boton-formulario{
    margin-top: 20px;
    color: whitesmoke;
    background-color: #5f184d;
}

.img_error{
    background-color: #d4faff;
}

@media (max-width: 992px) {
    .img_error img {
      width: 100%;
      text-align: center;
      margin-top: 200px;
    }
  }