.encabezado_tittle{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: $mainFont;
 }
.pie{
    width: 100%;
    margin-top: 20px;
    background-color: rgb(56, 56, 56);
    text-align: center;
 }
 
 .pie_icon--sm{
    width: 45px;
    margin-right: 20px;
 }
 